<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value="./godot/bin/packages" />
    </config>

    <packageSources>
        <add key="Godot Packages" value="./godot/bin/GodotSharp/Tools/nupkgs/" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
